<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список машин</title>
</head>
<body>
    <h2 style="text-align: center;">Наши автомобили</h2>
    <table>
        <thead>
        <tr>
            <th>Модель</th>
            <th>Год выпуска</th>
            <th>Цвет</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.model}">Модель</td>
                <td th:text="${car.year}">Год</td>
                <td th:text="${car.color}">Цвет</td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/">На главную</a>
    </div>
</body>
</html>